@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Consigue tu Celular ("Sin cargador obvio")</h1>
    
    </h1>
    <p style="margin-top: 20px;">
        SOLO DIME QUE CELULAR VAS A QUERER
    </p>

    <img src="~/Imagen/images.jfif"alt="EXAMEN" width="100"height="auto">

</div>
